   # Github client id, you can get it from your github account
    GITHUB_CLIENT_ID="your oatuh github client id"
    # Github client secret, you can get it from your github account
    GITHUB_CLIENT_SECRET="your oatuh github client secret"
    # JWT secret, any random string, only for development
    JWT_SECRET="some random string, only for development"
    # Next auth url, you can use the default one
    NEXTAUTH_URL="http://localhost:3000"
    # Next public server url, you can use the default one
    NEXT_PUBLIC_SERVER_URL="http://localhost:8080/graphql"
    NEXT_PUBLIC_CLOUD_NAME="cloudinary id"