    # Database connection string, if running with docker it would be:
    DATABASE_URL="postgresql://postgres:postgres@localhost:5432/project-shelf"
    # Direct url, if running with docker it would be:
    DIRECT_URL="postgresql://postgres:postgres@localhost:5432/project-shelf"
    # Origins, you can use the default one
    ORIGINS=["http://localhost:3000", "http://localhost:3001"]
    # Cloudinary connection string, you can get it from your cloudinary account
    CLOUDINARY_URL="Your Cloudinary key goes here"
    # JWT secret, any random string, only for development
    JWT_SECRET="Any random string, only for development"
    # Server url, you can use the default one
    SERVER_URL="http://localhost"